project/imu_bridge_monitor_flow.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "IMU_Brigge_Inspection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "599f61efd30dafb5",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "acceleration",
        "accesspoint": 0,
        "execonfig": "5e552cac824ad0f0",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "MCU_IMU_acceleration_Data.accX",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1671444867377,
        "openStatus": true,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "31a8dfbe2382aeef"
            ],
            []
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "65c55031bb308cc2"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "86badf6518d22d90"
            ]
        ]
    },
    {
        "id": "4299abfc895943aa",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "angular_velocity",
        "accesspoint": 0,
        "execonfig": "81d2ce804b034db0",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "MCU_IMU_angular_velocity_Data.gyrX",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1671302921792,
        "openStatus": false,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "be26b3e4f1cb8be6"
            ],
            []
        ]
    },
    {
        "id": "968b540ce6632008",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "euler_angles",
        "accesspoint": 0,
        "execonfig": "4d3ced03e0de423c",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "MCU_IMU_euler_angles_Data.pitch",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1671302133683,
        "openStatus": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "40ca10ea8422e904"
            ],
            []
        ]
    },
    {
        "id": "8cca3934a983ce00",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_group_in",
        "links": [
            "65c55031bb308cc2",
            "86badf6518d22d90"
        ],
        "x": 435,
        "y": 60,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "65c55031bb308cc2",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "START button",
        "mode": "link",
        "links": [
            "1ae757c864344211",
            "28bb06e307aa7419",
            "8cca3934a983ce00",
            "b0b15be1a58b5046"
        ],
        "x": 265,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "599f61efd30dafb5",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "16f442419a3011c7"
            ],
            []
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "73746690b4d32d72"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "acceleration",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ],
        "inputLabels": [
            "MCU_IMU_acceleration_Data.accZ"
        ],
        "outputLabels": [
            "accZ",
            ""
        ]
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "acceleration_graph",
        "order": 4,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 730,
        "y": 520,
        "wires": [],
        "inputLabels": [
            "accZ"
        ]
    },
    {
        "id": "86badf6518d22d90",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "STOP button",
        "mode": "link",
        "links": [
            "1ae757c864344211",
            "28bb06e307aa7419",
            "8cca3934a983ce00",
            "b0b15be1a58b5046"
        ],
        "x": 265,
        "y": 220,
        "wires": []
    },
    {
        "id": "28bb06e307aa7419",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "angular_velocity_group_in",
        "links": [
            "65c55031bb308cc2",
            "86badf6518d22d90"
        ],
        "x": 435,
        "y": 140,
        "wires": [
            [
                "4299abfc895943aa"
            ]
        ]
    },
    {
        "id": "b0b15be1a58b5046",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "euler_angles_group_in",
        "links": [
            "65c55031bb308cc2",
            "86badf6518d22d90"
        ],
        "x": 435,
        "y": 220,
        "wires": [
            [
                "968b540ce6632008"
            ]
        ]
    },
    {
        "id": "c6bf064521fcedd3",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "gps_velocity",
        "accesspoint": 0,
        "execonfig": "0c947bd08bab3f91",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "MCU_IMU_gps_speed_Data.gps_velocity",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1671302948816,
        "openStatus": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "907fd3a543c91ba1"
            ],
            []
        ]
    },
    {
        "id": "1ae757c864344211",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "euler_angles_group_in",
        "links": [
            "65c55031bb308cc2",
            "86badf6518d22d90"
        ],
        "x": 435,
        "y": 300,
        "wires": [
            [
                "c6bf064521fcedd3"
            ]
        ]
    },
    {
        "id": "31a8dfbe2382aeef",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_group_out",
        "mode": "link",
        "links": [
            "4cadb72da1af833e"
        ],
        "x": 685,
        "y": 60,
        "wires": []
    },
    {
        "id": "be26b3e4f1cb8be6",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "angular_velocity_group_out",
        "mode": "link",
        "links": [
            "4cadb72da1af833e"
        ],
        "x": 685,
        "y": 140,
        "wires": []
    },
    {
        "id": "40ca10ea8422e904",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "euler_angles_group_out",
        "mode": "link",
        "links": [
            "4cadb72da1af833e"
        ],
        "x": 685,
        "y": 220,
        "wires": []
    },
    {
        "id": "907fd3a543c91ba1",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "gps_velocity_group_out",
        "mode": "link",
        "links": [
            "4cadb72da1af833e"
        ],
        "x": 685,
        "y": 300,
        "wires": []
    },
    {
        "id": "4cadb72da1af833e",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "links": [
            "31a8dfbe2382aeef",
            "40ca10ea8422e904",
            "907fd3a543c91ba1",
            "be26b3e4f1cb8be6"
        ],
        "x": 815,
        "y": 180,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "73746690b4d32d72",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "CLEAR button",
        "mode": "link",
        "links": [
            "bb889f1a942ffdb2",
            "30c5c7e2fb0c84b7",
            "6831d25d064e4c76",
            "a4d716506cda35a1"
        ],
        "x": 255,
        "y": 300,
        "wires": []
    },
    {
        "id": "16f442419a3011c7",
        "type": "link out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "mode": "link",
        "links": [
            "a2f25129d391ce35",
            "1f683239d7d09f62",
            "c8eb4a34dab44786",
            "5b9339555b2ce591"
        ],
        "x": 245,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2f25129d391ce35",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_process_in",
        "links": [
            "16f442419a3011c7"
        ],
        "x": 375,
        "y": 520,
        "wires": [
            [
                "a7c3e070.5a6c"
            ]
        ]
    },
    {
        "id": "3b880a5c3b889a8d",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "angular_velocity",
        "groupid": "4299abfc895943aa",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "3444adfb0774f406"
            ],
            []
        ],
        "inputLabels": [
            "MCU_IMU_acceleration_Data.accZ"
        ],
        "outputLabels": [
            "accZ",
            ""
        ]
    },
    {
        "id": "3444adfb0774f406",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "angular_velocity_graph",
        "order": 4,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 750,
        "y": 620,
        "wires": [],
        "inputLabels": [
            "accZ"
        ]
    },
    {
        "id": "1f683239d7d09f62",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_process_in",
        "links": [
            "16f442419a3011c7"
        ],
        "x": 375,
        "y": 620,
        "wires": [
            [
                "3b880a5c3b889a8d"
            ]
        ]
    },
    {
        "id": "12c3b7b2b53438fa",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "euler_angles",
        "groupid": "968b540ce6632008",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "1f96a73d6b3704a6"
            ],
            []
        ],
        "inputLabels": [
            "MCU_IMU_acceleration_Data.accZ"
        ],
        "outputLabels": [
            "accZ",
            ""
        ]
    },
    {
        "id": "1f96a73d6b3704a6",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "euler_angles_graph",
        "order": 4,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 740,
        "y": 720,
        "wires": [],
        "inputLabels": [
            "accZ"
        ]
    },
    {
        "id": "c8eb4a34dab44786",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_process_in",
        "links": [
            "16f442419a3011c7"
        ],
        "x": 375,
        "y": 720,
        "wires": [
            [
                "12c3b7b2b53438fa"
            ]
        ]
    },
    {
        "id": "f6da237afcc2caaa",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "gps_velocity",
        "groupid": "c6bf064521fcedd3",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 490,
        "y": 820,
        "wires": [
            [
                "d247fba9f2c666fa"
            ],
            []
        ],
        "inputLabels": [
            "MCU_IMU_acceleration_Data.accZ"
        ],
        "outputLabels": [
            "accZ",
            ""
        ]
    },
    {
        "id": "d247fba9f2c666fa",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "gps_velocity_graph",
        "order": 4,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 730,
        "y": 820,
        "wires": [],
        "inputLabels": [
            "accZ"
        ]
    },
    {
        "id": "5b9339555b2ce591",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "acceleration_process_in",
        "links": [
            "16f442419a3011c7"
        ],
        "x": 375,
        "y": 820,
        "wires": [
            [
                "f6da237afcc2caaa"
            ]
        ]
    },
    {
        "id": "bb889f1a942ffdb2",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "link in 1",
        "links": [
            "73746690b4d32d72"
        ],
        "x": 545,
        "y": 480,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "30c5c7e2fb0c84b7",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "link in 2",
        "links": [
            "73746690b4d32d72"
        ],
        "x": 545,
        "y": 580,
        "wires": [
            [
                "3444adfb0774f406"
            ]
        ]
    },
    {
        "id": "6831d25d064e4c76",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "link in 3",
        "links": [
            "73746690b4d32d72"
        ],
        "x": 545,
        "y": 680,
        "wires": [
            [
                "1f96a73d6b3704a6"
            ]
        ]
    },
    {
        "id": "a4d716506cda35a1",
        "type": "link in",
        "z": "7b9ed63e.2138f8",
        "name": "link in 4",
        "links": [
            "73746690b4d32d72"
        ],
        "x": 545,
        "y": 780,
        "wires": [
            [
                "d247fba9f2c666fa"
            ]
        ]
    },
    {
        "id": "599f61efd30dafb5",
        "type": "probe",
        "probeid": "0672FF383930434B43173048",
        "probename": "3752 (...73048)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J40",
        "connectionType": "p2p"
    },
    {
        "id": "5e552cac824ad0f0",
        "type": "exe-config",
        "name": "acceleration",
        "exefile": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug\\imu_bridge.elf",
        "exefolder": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug",
        "exevariablelist": [
            {
                "address": "0x08005e48",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08005e58",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000128",
                "name": "hcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000011d",
                "name": "hcan1.Init.AutoBusOff",
                "type": 2
            },
            {
                "address": "0x2000011f",
                "name": "hcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x2000011e",
                "name": "hcan1.Init.AutoWakeUp",
                "type": 2
            },
            {
                "address": "0x2000010c",
                "name": "hcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hcan1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hcan1.Init.ReceiveFifoLocked",
                "type": 2
            },
            {
                "address": "0x20000110",
                "name": "hcan1.Init.SyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hcan1.Init.TimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hcan1.Init.TimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hcan1.Init.TimeTriggeredMode",
                "type": 2
            },
            {
                "address": "0x20000121",
                "name": "hcan1.Init.TransmitFifoPriority",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "hcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hcan1.State",
                "type": 2
            },
            {
                "address": "0x20000224",
                "name": "hdma_usart2_rx.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hdma_usart2_rx.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hdma_usart2_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "hdma_usart2_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hdma_usart2_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "hdma_usart2_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hdma_usart2_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "hdma_usart2_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "hdma_usart2_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hdma_usart2_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "hdma_usart2_rx.Instance",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hdma_usart2_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hdma_usart2_rx.Parent",
                "type": 5
            },
            {
                "address": "0x20000205",
                "name": "hdma_usart2_rx.State",
                "type": 2
            },
            {
                "address": "0x20000218",
                "name": "hdma_usart2_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hdma_usart2_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hdma_usart2_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hdma_usart2_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim6.Channel",
                "type": 2
            },
            {
                "address": "0x2000019a",
                "name": "htim6.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000196",
                "name": "htim6.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000019e",
                "name": "htim6.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000178",
                "name": "htim6.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim6.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "htim6.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim6.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "htim6.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim6.Instance",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim6.Lock",
                "type": 2
            },
            {
                "address": "0x20000195",
                "name": "htim6.State",
                "type": 2
            },
            {
                "address": "0x200001e0",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001dd",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001d8",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001c8",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001de",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001ce",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001cc",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001c6",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001c4",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000155",
                "name": "IMU_data_ready",
                "type": 1
            },
            {
                "address": "0x200000e0",
                "name": "MCU_IMU_acceleration_Data.accX",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000e4",
                "name": "MCU_IMU_acceleration_Data.accY",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000e8",
                "name": "MCU_IMU_acceleration_Data.accZ",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000d4",
                "name": "MCU_IMU_angular_velocity_Data.gyrX",
                "type": 6
            },
            {
                "address": "0x200000d8",
                "name": "MCU_IMU_angular_velocity_Data.gyrY",
                "type": 6
            },
            {
                "address": "0x200000dc",
                "name": "MCU_IMU_angular_velocity_Data.gyrZ",
                "type": 6
            },
            {
                "address": "0x200000f0",
                "name": "MCU_IMU_euler_angles_Data.pitch",
                "type": 6
            },
            {
                "address": "0x200000ec",
                "name": "MCU_IMU_euler_angles_Data.roll",
                "type": 6
            },
            {
                "address": "0x200000f4",
                "name": "MCU_IMU_euler_angles_Data.yaw",
                "type": 6
            },
            {
                "address": "0x200000f8",
                "name": "MCU_IMU_gps_position_Data.lat",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "MCU_IMU_gps_position_Data.longitude",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "MCU_IMU_gps_speed_Data.gps_velocity",
                "type": 3
            },
            {
                "address": "0x200000c8",
                "name": "RxData[0]",
                "type": 1
            },
            {
                "address": "0x200000b4",
                "name": "RxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "RxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "RxHeader.FilterMatchIndex",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "RxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "RxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "RxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "RxHeader.Timestamp",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "sFilterConfig.FilterActivation",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "sFilterConfig.FilterBank",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "sFilterConfig.FilterFIFOAssignment",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "sFilterConfig.FilterIdHigh",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "sFilterConfig.FilterIdLow",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "sFilterConfig.FilterMaskIdHigh",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "sFilterConfig.FilterMaskIdLow",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "sFilterConfig.FilterMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "sFilterConfig.FilterScale",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "sFilterConfig.SlaveStartFilterBank",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "sgt_CAN_busy",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "TxData[0]",
                "type": 1
            },
            {
                "address": "0x2000009c",
                "name": "TxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "TxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "TxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "TxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "TxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "TxHeader.TransmitGlobalTime",
                "type": 2
            },
            {
                "address": "0x200000d0",
                "name": "TxMailbox",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x2000027c",
                "name": "XDI_Acceleration.accx",
                "type": 9
            },
            {
                "address": "0x20000280",
                "name": "XDI_Acceleration.accy",
                "type": 9
            },
            {
                "address": "0x20000284",
                "name": "XDI_Acceleration.accz",
                "type": 9
            },
            {
                "address": "0x20000274",
                "name": "XDI_EulerAngles.pitch",
                "type": 9
            },
            {
                "address": "0x20000270",
                "name": "XDI_EulerAngles.roll",
                "type": 9
            },
            {
                "address": "0x20000278",
                "name": "XDI_EulerAngles.yaw",
                "type": 9
            },
            {
                "address": "0x20000288",
                "name": "XDI_GPSPosition.latitude",
                "type": 9
            },
            {
                "address": "0x2000028c",
                "name": "XDI_GPSPosition.longitude",
                "type": 9
            },
            {
                "address": "0x20000268",
                "name": "XDI_PacketCounter.PacketCounter",
                "type": 3
            },
            {
                "address": "0x20000290",
                "name": "XDI_RateOfTurn.gyrX",
                "type": 9
            },
            {
                "address": "0x20000294",
                "name": "XDI_RateOfTurn.gyrY",
                "type": 9
            },
            {
                "address": "0x20000298",
                "name": "XDI_RateOfTurn.gyrZ",
                "type": 9
            },
            {
                "address": "0x2000026c",
                "name": "XDI_SampleTimeFine.SampleTimeFine",
                "type": 5
            },
            {
                "address": "0x200002a8",
                "name": "XDI_Velocity.velSum",
                "type": 9
            },
            {
                "address": "0x2000029c",
                "name": "XDI_Velocity.velX",
                "type": 9
            },
            {
                "address": "0x200002a0",
                "name": "XDI_Velocity.velY",
                "type": 9
            },
            {
                "address": "0x200002a4",
                "name": "XDI_Velocity.velZ",
                "type": 9
            },
            {
                "address": "0x20000228",
                "name": "XSENSE_rx_buffer[0]",
                "type": 1
            }
        ],
        "expand": false,
        "filename": "imu_bridge.elf",
        "exeModifiedTime": 1670876579918,
        "configLastUpdate": 1671302895713
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "IMU Data",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81d2ce804b034db0",
        "type": "exe-config",
        "name": "angular_velocity",
        "exefile": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug\\imu_bridge.elf",
        "exefolder": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug",
        "exevariablelist": [
            {
                "address": "0x08005e48",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08005e58",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000128",
                "name": "hcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000011d",
                "name": "hcan1.Init.AutoBusOff",
                "type": 2
            },
            {
                "address": "0x2000011f",
                "name": "hcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x2000011e",
                "name": "hcan1.Init.AutoWakeUp",
                "type": 2
            },
            {
                "address": "0x2000010c",
                "name": "hcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hcan1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hcan1.Init.ReceiveFifoLocked",
                "type": 2
            },
            {
                "address": "0x20000110",
                "name": "hcan1.Init.SyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hcan1.Init.TimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hcan1.Init.TimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hcan1.Init.TimeTriggeredMode",
                "type": 2
            },
            {
                "address": "0x20000121",
                "name": "hcan1.Init.TransmitFifoPriority",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "hcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hcan1.State",
                "type": 2
            },
            {
                "address": "0x20000224",
                "name": "hdma_usart2_rx.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hdma_usart2_rx.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hdma_usart2_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "hdma_usart2_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hdma_usart2_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "hdma_usart2_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hdma_usart2_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "hdma_usart2_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "hdma_usart2_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hdma_usart2_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "hdma_usart2_rx.Instance",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hdma_usart2_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hdma_usart2_rx.Parent",
                "type": 5
            },
            {
                "address": "0x20000205",
                "name": "hdma_usart2_rx.State",
                "type": 2
            },
            {
                "address": "0x20000218",
                "name": "hdma_usart2_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hdma_usart2_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hdma_usart2_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hdma_usart2_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim6.Channel",
                "type": 2
            },
            {
                "address": "0x2000019a",
                "name": "htim6.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000196",
                "name": "htim6.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000019e",
                "name": "htim6.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000178",
                "name": "htim6.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim6.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "htim6.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim6.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "htim6.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim6.Instance",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim6.Lock",
                "type": 2
            },
            {
                "address": "0x20000195",
                "name": "htim6.State",
                "type": 2
            },
            {
                "address": "0x200001e0",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001dd",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001d8",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001c8",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001de",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001ce",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001cc",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001c6",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001c4",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000155",
                "name": "IMU_data_ready",
                "type": 1
            },
            {
                "address": "0x200000e0",
                "name": "MCU_IMU_acceleration_Data.accX",
                "type": 6
            },
            {
                "address": "0x200000e4",
                "name": "MCU_IMU_acceleration_Data.accY",
                "type": 6
            },
            {
                "address": "0x200000e8",
                "name": "MCU_IMU_acceleration_Data.accZ",
                "type": 6
            },
            {
                "address": "0x200000d4",
                "name": "MCU_IMU_angular_velocity_Data.gyrX",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000d8",
                "name": "MCU_IMU_angular_velocity_Data.gyrY",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000dc",
                "name": "MCU_IMU_angular_velocity_Data.gyrZ",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000f0",
                "name": "MCU_IMU_euler_angles_Data.pitch",
                "type": 6
            },
            {
                "address": "0x200000ec",
                "name": "MCU_IMU_euler_angles_Data.roll",
                "type": 6
            },
            {
                "address": "0x200000f4",
                "name": "MCU_IMU_euler_angles_Data.yaw",
                "type": 6
            },
            {
                "address": "0x200000f8",
                "name": "MCU_IMU_gps_position_Data.lat",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "MCU_IMU_gps_position_Data.longitude",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "MCU_IMU_gps_speed_Data.gps_velocity",
                "type": 3
            },
            {
                "address": "0x200000c8",
                "name": "RxData[0]",
                "type": 1
            },
            {
                "address": "0x200000b4",
                "name": "RxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "RxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "RxHeader.FilterMatchIndex",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "RxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "RxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "RxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "RxHeader.Timestamp",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "sFilterConfig.FilterActivation",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "sFilterConfig.FilterBank",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "sFilterConfig.FilterFIFOAssignment",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "sFilterConfig.FilterIdHigh",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "sFilterConfig.FilterIdLow",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "sFilterConfig.FilterMaskIdHigh",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "sFilterConfig.FilterMaskIdLow",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "sFilterConfig.FilterMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "sFilterConfig.FilterScale",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "sFilterConfig.SlaveStartFilterBank",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "sgt_CAN_busy",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "TxData[0]",
                "type": 1
            },
            {
                "address": "0x2000009c",
                "name": "TxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "TxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "TxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "TxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "TxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "TxHeader.TransmitGlobalTime",
                "type": 2
            },
            {
                "address": "0x200000d0",
                "name": "TxMailbox",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x2000027c",
                "name": "XDI_Acceleration.accx",
                "type": 9
            },
            {
                "address": "0x20000280",
                "name": "XDI_Acceleration.accy",
                "type": 9
            },
            {
                "address": "0x20000284",
                "name": "XDI_Acceleration.accz",
                "type": 9
            },
            {
                "address": "0x20000274",
                "name": "XDI_EulerAngles.pitch",
                "type": 9
            },
            {
                "address": "0x20000270",
                "name": "XDI_EulerAngles.roll",
                "type": 9
            },
            {
                "address": "0x20000278",
                "name": "XDI_EulerAngles.yaw",
                "type": 9
            },
            {
                "address": "0x20000288",
                "name": "XDI_GPSPosition.latitude",
                "type": 9
            },
            {
                "address": "0x2000028c",
                "name": "XDI_GPSPosition.longitude",
                "type": 9
            },
            {
                "address": "0x20000268",
                "name": "XDI_PacketCounter.PacketCounter",
                "type": 3
            },
            {
                "address": "0x20000290",
                "name": "XDI_RateOfTurn.gyrX",
                "type": 9
            },
            {
                "address": "0x20000294",
                "name": "XDI_RateOfTurn.gyrY",
                "type": 9
            },
            {
                "address": "0x20000298",
                "name": "XDI_RateOfTurn.gyrZ",
                "type": 9
            },
            {
                "address": "0x2000026c",
                "name": "XDI_SampleTimeFine.SampleTimeFine",
                "type": 5
            },
            {
                "address": "0x200002a8",
                "name": "XDI_Velocity.velSum",
                "type": 9
            },
            {
                "address": "0x2000029c",
                "name": "XDI_Velocity.velX",
                "type": 9
            },
            {
                "address": "0x200002a0",
                "name": "XDI_Velocity.velY",
                "type": 9
            },
            {
                "address": "0x200002a4",
                "name": "XDI_Velocity.velZ",
                "type": 9
            },
            {
                "address": "0x20000228",
                "name": "XSENSE_rx_buffer[0]",
                "type": 1
            }
        ],
        "expand": false,
        "filename": "imu_bridge.elf",
        "exeModifiedTime": 1670876579918,
        "configLastUpdate": 1671302921397
    },
    {
        "id": "4d3ced03e0de423c",
        "type": "exe-config",
        "name": "euler_angles",
        "exefile": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug\\imu_bridge.elf",
        "exefolder": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug",
        "exevariablelist": [
            {
                "address": "0x08005e48",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08005e58",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000128",
                "name": "hcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000011d",
                "name": "hcan1.Init.AutoBusOff",
                "type": 2
            },
            {
                "address": "0x2000011f",
                "name": "hcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x2000011e",
                "name": "hcan1.Init.AutoWakeUp",
                "type": 2
            },
            {
                "address": "0x2000010c",
                "name": "hcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hcan1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hcan1.Init.ReceiveFifoLocked",
                "type": 2
            },
            {
                "address": "0x20000110",
                "name": "hcan1.Init.SyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hcan1.Init.TimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hcan1.Init.TimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hcan1.Init.TimeTriggeredMode",
                "type": 2
            },
            {
                "address": "0x20000121",
                "name": "hcan1.Init.TransmitFifoPriority",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "hcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hcan1.State",
                "type": 2
            },
            {
                "address": "0x20000224",
                "name": "hdma_usart2_rx.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hdma_usart2_rx.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hdma_usart2_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "hdma_usart2_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hdma_usart2_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "hdma_usart2_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hdma_usart2_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "hdma_usart2_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "hdma_usart2_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hdma_usart2_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "hdma_usart2_rx.Instance",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hdma_usart2_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hdma_usart2_rx.Parent",
                "type": 5
            },
            {
                "address": "0x20000205",
                "name": "hdma_usart2_rx.State",
                "type": 2
            },
            {
                "address": "0x20000218",
                "name": "hdma_usart2_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hdma_usart2_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hdma_usart2_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hdma_usart2_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim6.Channel",
                "type": 2
            },
            {
                "address": "0x2000019a",
                "name": "htim6.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000196",
                "name": "htim6.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000019e",
                "name": "htim6.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000178",
                "name": "htim6.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim6.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "htim6.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim6.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "htim6.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim6.Instance",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim6.Lock",
                "type": 2
            },
            {
                "address": "0x20000195",
                "name": "htim6.State",
                "type": 2
            },
            {
                "address": "0x200001e0",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001dd",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001d8",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001c8",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001de",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001ce",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001cc",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001c6",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001c4",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000155",
                "name": "IMU_data_ready",
                "type": 1
            },
            {
                "address": "0x200000e0",
                "name": "MCU_IMU_acceleration_Data.accX",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000e4",
                "name": "MCU_IMU_acceleration_Data.accY",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000e8",
                "name": "MCU_IMU_acceleration_Data.accZ",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000d4",
                "name": "MCU_IMU_angular_velocity_Data.gyrX",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000d8",
                "name": "MCU_IMU_angular_velocity_Data.gyrY",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000dc",
                "name": "MCU_IMU_angular_velocity_Data.gyrZ",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x200000f0",
                "name": "MCU_IMU_euler_angles_Data.pitch",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000ec",
                "name": "MCU_IMU_euler_angles_Data.roll",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000f4",
                "name": "MCU_IMU_euler_angles_Data.yaw",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x200000f8",
                "name": "MCU_IMU_gps_position_Data.lat",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "MCU_IMU_gps_position_Data.longitude",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000100",
                "name": "MCU_IMU_gps_speed_Data.gps_velocity",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x200000c8",
                "name": "RxData[0]",
                "type": 1
            },
            {
                "address": "0x200000b4",
                "name": "RxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "RxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "RxHeader.FilterMatchIndex",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "RxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "RxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "RxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "RxHeader.Timestamp",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "sFilterConfig.FilterActivation",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "sFilterConfig.FilterBank",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "sFilterConfig.FilterFIFOAssignment",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "sFilterConfig.FilterIdHigh",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "sFilterConfig.FilterIdLow",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "sFilterConfig.FilterMaskIdHigh",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "sFilterConfig.FilterMaskIdLow",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "sFilterConfig.FilterMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "sFilterConfig.FilterScale",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "sFilterConfig.SlaveStartFilterBank",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "sgt_CAN_busy",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "TxData[0]",
                "type": 1
            },
            {
                "address": "0x2000009c",
                "name": "TxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "TxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "TxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "TxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "TxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "TxHeader.TransmitGlobalTime",
                "type": 2
            },
            {
                "address": "0x200000d0",
                "name": "TxMailbox",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x2000027c",
                "name": "XDI_Acceleration.accx",
                "type": 9
            },
            {
                "address": "0x20000280",
                "name": "XDI_Acceleration.accy",
                "type": 9
            },
            {
                "address": "0x20000284",
                "name": "XDI_Acceleration.accz",
                "type": 9
            },
            {
                "address": "0x20000274",
                "name": "XDI_EulerAngles.pitch",
                "type": 9
            },
            {
                "address": "0x20000270",
                "name": "XDI_EulerAngles.roll",
                "type": 9
            },
            {
                "address": "0x20000278",
                "name": "XDI_EulerAngles.yaw",
                "type": 9
            },
            {
                "address": "0x20000288",
                "name": "XDI_GPSPosition.latitude",
                "type": 9
            },
            {
                "address": "0x2000028c",
                "name": "XDI_GPSPosition.longitude",
                "type": 9
            },
            {
                "address": "0x20000268",
                "name": "XDI_PacketCounter.PacketCounter",
                "type": 3
            },
            {
                "address": "0x20000290",
                "name": "XDI_RateOfTurn.gyrX",
                "type": 9
            },
            {
                "address": "0x20000294",
                "name": "XDI_RateOfTurn.gyrY",
                "type": 9
            },
            {
                "address": "0x20000298",
                "name": "XDI_RateOfTurn.gyrZ",
                "type": 9
            },
            {
                "address": "0x2000026c",
                "name": "XDI_SampleTimeFine.SampleTimeFine",
                "type": 5
            },
            {
                "address": "0x200002a8",
                "name": "XDI_Velocity.velSum",
                "type": 9
            },
            {
                "address": "0x2000029c",
                "name": "XDI_Velocity.velX",
                "type": 9
            },
            {
                "address": "0x200002a0",
                "name": "XDI_Velocity.velY",
                "type": 9
            },
            {
                "address": "0x200002a4",
                "name": "XDI_Velocity.velZ",
                "type": 9
            },
            {
                "address": "0x20000228",
                "name": "XSENSE_rx_buffer[0]",
                "type": 1
            }
        ],
        "expand": false,
        "filename": "imu_bridge.elf",
        "exeModifiedTime": 1670876579918,
        "configLastUpdate": 1671302133290
    },
    {
        "id": "0c947bd08bab3f91",
        "type": "exe-config",
        "name": "gps_velocity",
        "exefile": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug\\imu_bridge.elf",
        "exefolder": "C:\\Users\\gugo\\Documents\\VRS\\vrs_sem_zad\\project\\Debug",
        "exevariablelist": [
            {
                "address": "0x08005e48",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08005e58",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000128",
                "name": "hcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000011d",
                "name": "hcan1.Init.AutoBusOff",
                "type": 2
            },
            {
                "address": "0x2000011f",
                "name": "hcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x2000011e",
                "name": "hcan1.Init.AutoWakeUp",
                "type": 2
            },
            {
                "address": "0x2000010c",
                "name": "hcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hcan1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hcan1.Init.ReceiveFifoLocked",
                "type": 2
            },
            {
                "address": "0x20000110",
                "name": "hcan1.Init.SyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hcan1.Init.TimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hcan1.Init.TimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hcan1.Init.TimeTriggeredMode",
                "type": 2
            },
            {
                "address": "0x20000121",
                "name": "hcan1.Init.TransmitFifoPriority",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "hcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hcan1.State",
                "type": 2
            },
            {
                "address": "0x20000224",
                "name": "hdma_usart2_rx.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hdma_usart2_rx.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hdma_usart2_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "hdma_usart2_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hdma_usart2_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "hdma_usart2_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hdma_usart2_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "hdma_usart2_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "hdma_usart2_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hdma_usart2_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "hdma_usart2_rx.Instance",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hdma_usart2_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hdma_usart2_rx.Parent",
                "type": 5
            },
            {
                "address": "0x20000205",
                "name": "hdma_usart2_rx.State",
                "type": 2
            },
            {
                "address": "0x20000218",
                "name": "hdma_usart2_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hdma_usart2_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hdma_usart2_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hdma_usart2_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim6.Channel",
                "type": 2
            },
            {
                "address": "0x2000019a",
                "name": "htim6.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000196",
                "name": "htim6.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000019e",
                "name": "htim6.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000178",
                "name": "htim6.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim6.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "htim6.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim6.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "htim6.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim6.Instance",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim6.Lock",
                "type": 2
            },
            {
                "address": "0x20000195",
                "name": "htim6.State",
                "type": 2
            },
            {
                "address": "0x200001e0",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001dd",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001d8",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001c8",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001de",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001ce",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001cc",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001c6",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001c4",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000155",
                "name": "IMU_data_ready",
                "type": 1
            },
            {
                "address": "0x200000e0",
                "name": "MCU_IMU_acceleration_Data.accX",
                "type": 6
            },
            {
                "address": "0x200000e4",
                "name": "MCU_IMU_acceleration_Data.accY",
                "type": 6
            },
            {
                "address": "0x200000e8",
                "name": "MCU_IMU_acceleration_Data.accZ",
                "type": 6
            },
            {
                "address": "0x200000d4",
                "name": "MCU_IMU_angular_velocity_Data.gyrX",
                "type": 6
            },
            {
                "address": "0x200000d8",
                "name": "MCU_IMU_angular_velocity_Data.gyrY",
                "type": 6
            },
            {
                "address": "0x200000dc",
                "name": "MCU_IMU_angular_velocity_Data.gyrZ",
                "type": 6
            },
            {
                "address": "0x200000f0",
                "name": "MCU_IMU_euler_angles_Data.pitch",
                "type": 6
            },
            {
                "address": "0x200000ec",
                "name": "MCU_IMU_euler_angles_Data.roll",
                "type": 6
            },
            {
                "address": "0x200000f4",
                "name": "MCU_IMU_euler_angles_Data.yaw",
                "type": 6
            },
            {
                "address": "0x200000f8",
                "name": "MCU_IMU_gps_position_Data.lat",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "MCU_IMU_gps_position_Data.longitude",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "MCU_IMU_gps_speed_Data.gps_velocity",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x200000c8",
                "name": "RxData[0]",
                "type": 1
            },
            {
                "address": "0x200000b4",
                "name": "RxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "RxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "RxHeader.FilterMatchIndex",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "RxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "RxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "RxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "RxHeader.Timestamp",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "sFilterConfig.FilterActivation",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "sFilterConfig.FilterBank",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "sFilterConfig.FilterFIFOAssignment",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "sFilterConfig.FilterIdHigh",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "sFilterConfig.FilterIdLow",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "sFilterConfig.FilterMaskIdHigh",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "sFilterConfig.FilterMaskIdLow",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "sFilterConfig.FilterMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "sFilterConfig.FilterScale",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "sFilterConfig.SlaveStartFilterBank",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "sgt_CAN_busy",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "TxData[0]",
                "type": 1
            },
            {
                "address": "0x2000009c",
                "name": "TxHeader.DLC",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "TxHeader.ExtId",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "TxHeader.IDE",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "TxHeader.RTR",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "TxHeader.StdId",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "TxHeader.TransmitGlobalTime",
                "type": 2
            },
            {
                "address": "0x200000d0",
                "name": "TxMailbox",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x2000027c",
                "name": "XDI_Acceleration.accx",
                "type": 9
            },
            {
                "address": "0x20000280",
                "name": "XDI_Acceleration.accy",
                "type": 9
            },
            {
                "address": "0x20000284",
                "name": "XDI_Acceleration.accz",
                "type": 9
            },
            {
                "address": "0x20000274",
                "name": "XDI_EulerAngles.pitch",
                "type": 9
            },
            {
                "address": "0x20000270",
                "name": "XDI_EulerAngles.roll",
                "type": 9
            },
            {
                "address": "0x20000278",
                "name": "XDI_EulerAngles.yaw",
                "type": 9
            },
            {
                "address": "0x20000288",
                "name": "XDI_GPSPosition.latitude",
                "type": 9
            },
            {
                "address": "0x2000028c",
                "name": "XDI_GPSPosition.longitude",
                "type": 9
            },
            {
                "address": "0x20000268",
                "name": "XDI_PacketCounter.PacketCounter",
                "type": 3
            },
            {
                "address": "0x20000290",
                "name": "XDI_RateOfTurn.gyrX",
                "type": 9
            },
            {
                "address": "0x20000294",
                "name": "XDI_RateOfTurn.gyrY",
                "type": 9
            },
            {
                "address": "0x20000298",
                "name": "XDI_RateOfTurn.gyrZ",
                "type": 9
            },
            {
                "address": "0x2000026c",
                "name": "XDI_SampleTimeFine.SampleTimeFine",
                "type": 5
            },
            {
                "address": "0x200002a8",
                "name": "XDI_Velocity.velSum",
                "type": 9
            },
            {
                "address": "0x2000029c",
                "name": "XDI_Velocity.velX",
                "type": 9
            },
            {
                "address": "0x200002a0",
                "name": "XDI_Velocity.velY",
                "type": 9
            },
            {
                "address": "0x200002a4",
                "name": "XDI_Velocity.velZ",
                "type": 9
            },
            {
                "address": "0x20000228",
                "name": "XSENSE_rx_buffer[0]",
                "type": 1
            }
        ],
        "expand": false,
        "filename": "imu_bridge.elf",
        "exeModifiedTime": 1670876579918,
        "configLastUpdate": 1671302948409
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]